@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");


html {
  font-size: 62.5%;
  
 
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.main-nav {
  font-family: "Jost", sans-serif;
  position: fixed;  
  top: 0;           
  width: 100%;
  z-index: 1; 
  height: 10rem;
  display: grid;
  background-color: white;

  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}

.logo {
  display: grid;
  grid-column: 2/3;
  height: 9.5rem;
  align-items: center;
}

.logo img{
  width: 65%;
  margin-top: 0;
}

.menu-link {
  grid-column: 3/4;
  color: white;
  height: 9.5rem;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
}


/* .social-media {
  grid-column: 4/5;
}

.social-media {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
} */

.langBtn{
  /* border: 1px solid red; */
  font-size: 1.5rem;
  margin-top: 5%;
  border-radius: 50rem;
  padding: 1rem 2rem;
  width: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(107, 106, 106), rgb(207, 204, 204) );
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  
}



.menu-link ul li {
  font-size: 1.5rem;
  border: none;
  padding: 1.2%;
  border-radius: 70px; 
  
}


.menu-link ul li a {
  
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;

}
.menu-link ul li:hover > a {
  color: white;
  background-color: black;
  transition: 0.5s;
}

.menu-link ul li:hover {
  font-size: 1.8rem;
  transition: 0.5s;
  border: none;
  padding: 1.2%;
  background-color: black;
  border-radius: 50%;
  
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}



@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }

  .logo img{
    width: 55%;
  }

  .langBtn{
    border: 1px solid red;
    font-size: 1rem;
    margin-top: 5%;
    width: 70%;
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(107, 106, 106), rgb(207, 204, 204) );
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
  }
}


@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .logo img{
    width: 52%;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 25rem;
    width: 100%;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .menu-link{
  font-size: 1.5rem;
  border: none;
  padding: 1.2%;
  background-color: #e1e1e1;
  width: 100%;
  
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  .langBtn{
    border: 1px solid red;
    font-size: 1rem;
    margin-top: 5%;
    width: 70%;
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(107, 106, 106), rgb(207, 204, 204) );
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }


  .logo img{
    width: 39%;
    /* border: 1px solid red; */

  
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }

  .langBtn{
    /* border: 1px solid red; */
    font-size: 1rem;
    margin-top: 5%;
    width: 70%;
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(107, 106, 106), rgb(207, 204, 204) );
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
    /* border: 1px solid red; */
    width: 50%;
  }

  .logo img{
    width: 100%;
    /* border: 1px solid red; */
   
  }
  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    /* border: 1px solid red; */
  }

  .langBtn{
    /* border: 1px solid red; */
    font-size: 1rem;
    margin-top: 5%;
    width: 70%;
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(41, 40, 40), rgb(107, 106, 106), rgb(207, 204, 204) );
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
  }
}


