
.gallery{
    margin-top: 8rem;
    padding: 2rem; 
    /* background-color: black; */
    /* border: 1px solid red; */
    color: black;
  
}

.displayCard{
    /* border: 5px solid green; */
    width: 100%;
   
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
    margin-top: 2%;
}

.displayCard div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: .8rem solid white;
    border-radius: .8rem;
}

.displayCard img{
    width: 100%;
  
}


.Btn{
    width: 30%;
    border: 10px solid #d1deee;
    font-size: 1.5rem;
    border-radius: 50rem;
    padding: 2.5%;
    background-image: linear-gradient(#c0d3e3, #d8e4ee);
    box-shadow: inset rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


  







@media (max-width: 1080px) {
    .displayCard{
        /* border: 5px solid green; */
        width: 100%;
       
        /* background-color: black; */
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3%;
        margin-top: 2%;
    }
    
    .displayCard div{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: .8rem solid white;
        border-radius: .8rem;
    }
    
    .displayCard img{
        width: 100%;
      
    }
    
}

@media (max-width: 998px) {

    .displayCard{
        /* border: 5px solid green; */
        width: 100%;
       
        /* background-color: black; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2%;
        margin-top: 2%;
    }
    
    .displayCard div{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: .8rem solid white;
        border-radius: .8rem;
    }
    
    .displayCard img{
        width: 100%;
      
    }
    
}

@media (max-width: 798px) {
    .displayCard{
        /* border: 5px solid green; */
        width: 100%;
       
        /* background-color: black; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1%;
        margin-top: 2%;
    }
    
    .displayCard div{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: .8rem solid white;
        border-radius: .8rem;
    }
    
    .displayCard img{
        width: 100%;
      
    }
    
}

@media (max-width: 520px) {

    .displayCard{
        border: 5px solid white;
        width: 100%;
       
        /* background-color: black; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1%;
        margin-top: 2%;
    }
    
    .displayCard div{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: .8rem solid white;
        border-radius: .8rem;
    }
    
    .displayCard img{
        width: 100%;
      
    }
}